body {
    background-color: rgb(253, 237, 218);
    padding: 5% 25% 5% 25%;
    width: 1000px;
    display: flex;
}

.sidebar {
    width: 225px;
    padding: 10px;
    background-color:rgb(228, 252, 255);
}

.content {
    flex: 1;
    padding: 20px;
    background-color: rgb(255, 255, 226);
}