.btn {
    font: 700 1.25rem $primary-font;
    background-color: inherit;
    padding: 0;
    line-height: 1.25rem;
    letter-spacing: 0.08em;
    border: none;
    position: relative;
    z-index: 1;
    

    &__link {
        color: $button-color-default;
        transition: color 0.3s ease;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: $button-color-default;
        width: 97%;
        height: 13px;
        inset: 11px 0 0 10px;
        opacity: 0.3;
        z-index: 0;
        transition: background-color 0.3s ease, opacity 0.3s ease;
    }

    &:hover {
        
        &::after {
            background-color: $button-color-hover;
        }

        .btn__link {
            color: $button-color-hover;
        }
    }
}