$primary-bg-color: rgba(22, 25, 38, 1);
$primary-text-color: white;
$secondary-color: rgb(94, 143, 250);
$accent-color: rgba(83, 243, 205, 1);
$hover-accent-color: rgba(2, 224, 171, 1);
$border-color: rgba(81, 87, 115, 1);
$footer-text-color: rgba(255, 255, 255, 0.6);

.html {
    background-color: $primary-bg-color;
    background-image: url("../../images/first-screen-image-black.png");
    color: $primary-text-color;
}

.header {
    background: linear-gradient(0deg, rgba(22, 25, 38, 0.02), rgba(22, 25, 38, 0.02)),
                linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%);
}

.nav {
    .nav__link {
        color: $primary-text-color;
    }

    .nav__item--active::after {
        background: linear-gradient(96.73deg, #53F3CD 6.73%, rgba(83, 243, 205, 0) 116.9%);
    }
}

.hero {
    .hero__title {
        color: $primary-text-color;
    }
    .hero__span {
        color: $secondary-color;
    }
}

.btn {
    .btn__link {
        color: $accent-color;
    }

    &::after {
        background-color: $accent-color;
    }

    &:hover {
        .btn__link {
            color: $hover-accent-color;
        }

        &::after {
            background-color: $hover-accent-color;
        }
    }
}

.stats {
    .stats__item:not(:last-child)::after {
        border-color: $secondary-color;
    }
}

.info {
    .info__content {
        background-color: $primary-bg-color;
    }

    .info__text {
        color: $primary-text-color;
    }
}

.item {
    .item__title,
    .item__text {
        color: $primary-text-color;
    }

    .item__span {
        color: $secondary-color;
    }
}

.video {
    .video__span {
        color: $secondary-color;
    }
}

.promises {
    .promises__desc {
        background-color: $primary-bg-color;
    }

    .promises__item:last-of-type {
        border-color: $border-color;

        &:hover {
            border-color: $hover-accent-color;
        }
    }
}

.reviews, .contact {
    .reviews__span, .contact__span {
        color: $secondary-color;
    }

    .contact__subtitle {
        color: $primary-text-color;
    }

    .contact__input {
        background-color: inherit;
        border-color: $primary-text-color;
        color: $primary-text-color;
    }
}

.footer {
    .footer__text {
        color: $footer-text-color;
    }

    .footer__span, .footer__nav-item {
        color: $primary-text-color;
    }
}
