.footer {
    height: 5.375rem;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 16rem;
    border-top: 1px solid #E4E4E4;

    &__text,
    &__span,
    &__nav-item {
        font-family: $primary-font;
        font-size: 0.875rem;
        line-height: 24px;
    }

    &__text {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
    }

    &__span {
        letter-spacing: 0.08em;
        color: #262A3F;
    }

    &__nav {
        display: flex;
        gap: 1.5rem;
    }

    &__nav-item {
        color: #262A3F;
    }
}