.info {
    display: flex;

    &__img {
        background-image: url("../images/info.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 48%;
        flex: 1;
        margin-right: -15%;
    }

    &__content {
        display: flex;
        background-color: #FFFFFF;
        opacity: 0.9;
        width: 65%;
        padding: 2.8125rem 0;
        margin: 2.8125rem 0;
        box-sizing: border-box;
    }

    &__aside {
        width: 52%;
    }

    &__text {
        color: $primary-color;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 3.125rem;
        opacity: 0.8;
    }
}

@media (max-width: 768px) {
    
    .info {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__content {
            background-image: url("../images/info.png");
            background-size: cover;
            margin: 0;
            width: 100%;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #FFFFFF;
                opacity: 0.5;
                z-index: 0;
            }
        }
    }
}