.promises {

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        background: url("../images/promises-background.png") no-repeat center/cover;
        height: 33.75rem;
        width: 41.5%;
        margin-right: -14%;
    }

    &__desc {
        height: auto;
        background-color: white;
        opacity: 0.9;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4.375rem;
        padding: 4.6875rem 0 4.6875rem 4.375rem;
        width: 58.5%;
        box-sizing: border-box;
    }

    &__title {
        font-family: $secondary-font;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    &__text {
        font-family: $primary-font;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.44;
    }

    &__item:last-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #E4E4E4;
        transition: 0.3s;

        &:hover {
            border-color: $button-color-hover;
        }
    }
}

@media (max-width: 768px) {

    .promises {

        &__image {
            display: none;
        }

        &__desc {
            background: url("../images/promises-background.png") no-repeat center/cover;
            box-sizing: border-box;
            width: auto;
            padding: 4.6875rem;
        }

        &__item {
            color: white;
        }
    }
}

@media (max-width: 550px) { 
    .promises {

        &__desc {
            grid-template-columns: 1fr;
        }

        &__btn {
            height: 2rem;
        }
    }
}