.quote {

    &__container {
        background: url("../images/quote-bg.png") no-repeat center/cover;
    }

    &__item {
        width: 50%;
        margin: auto;
        padding: 6.25rem;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 4.375rem;
        left: 2.25rem;
    }

    &__text {
        font-family: $primary-font;
        font-size: 2rem;
        line-height: 46px;
        letter-spacing: 0.04em;
        font-style: italic;
        color: white;
        margin-bottom: 2.5rem;
    }

    &__author {
        font-family: $secondary-font;
        font-size: 1.25rem;
        font-style: italic;
        line-height: 20px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
    }
}