.stats {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 48%;

    &__item {
        position: relative;

        &:not(:last-child)::after {
            content: "";
            display: block;
            width: 20%;
            border: 1px solid $secondary-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -2.5rem;
        }
    }

    &__num {
        font-family: $secondary-font;
        font-size: 4.25rem;
        line-height: 1;
        text-align: center;

        &::before {
            content: "$";
            font-family: $secondary-font;
            font-size: 2.5rem;
            line-height: 1;
            text-align: center;
            color: #E4E4E4;
        }
    }

    &__desc {
        font-family: $primary-font;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
    }
}
