.info {
    display: flex;
    width: 81.25%;
    margin-inline: auto;

    &__img {
        background-image: url("components/info/info.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 48%;
        height: 41.875rem;
        margin-right: -15%;
    }

    &__content {
        display: flex;
        background-color: #FFFFFF;
        opacity: 0.9;
        width: 65%;
        height: 36.25rem;
        padding-top: 2.8125rem;
        margin-top: 2.8125rem;
        box-sizing: border-box;
    }

    &__aside {
        width: 52%;
    }

    &__text {
        color: $primary-color;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 3.125rem;
        opacity: 0.8;
    }
}
