h1 {
    font-family: 'Delius Unicase';
    text-align: center;
}

.archi, .life, .fashion {
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
}

.grid-archi, .grid-life, .grid-fashion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
}

img {
    width: 100%;
    height: auto;
}

.grid-archi .archi-2, .archi-3, .archi-6 {
    grid-column: span 2;
}

.grid-life .life-2, .life-3, .life-5 {
    grid-column: span 2;
}

.grid-life .life-3, .life-4 {
    grid-row: span 2;
}

.grid-fashion .fashion-2, .fashion-5, .fashion-6 {
    grid-row: span 2;
}

.grid-fashion .fashion-8, .fashion-9 {
    grid-column: span 2;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1rem;
    }

    .grid-archi, .grid-life, .grid-fashion {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-archi .archi-2, .grid-archi .archi-3, .grid-archi .archi-6,
    .grid-life .life-2, .grid-life .life-3, .grid-life .life-5,
    .grid-fashion .fashion-2, .grid-fashion .fashion-5, .grid-fashion .fashion-6,
    .grid-fashion .fashion-8, .grid-fashion .fashion-9 {
        grid-column: span 1;
        grid-row: span 1
    }

    .grid-archi .archi-1, .grid-life .life-2, .grid-life .life-5, .grid-fashion .fashion-5 {
        grid-row: 2;
    }

    .grid-fashion .fashion-3 {
        grid-row: 1;
    }

    .grid-fashion .fashion-7 {
        grid-row: 3;
    }
    .grid-fashion .fashion-10 {
        grid-row: 4;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 0.75rem;
    }

    .grid-archi, .grid-life, .grid-fashion {
        grid-template-columns: 1fr;
    }
}
