.button {
    height: 54px;
    width: 200px;
    font-size: 18px;
    line-height: 1.125;
    color: #FFFFFF;
    text-transform: uppercase;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border-radius: 30px;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    &:hover {
        background-color: rgb(12, 203, 12);
    }
}