.button {
    height: 54px;
    width: 200px;
    font-size: 18px;
    line-height: 1.125;
    color: #FFFFFF;
    text-transform: uppercase;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border-radius: 30px;
    border: none;
}