html {
    scroll-behavior: smooth;
}

body {
    background: rgba(255, 255, 255, 1);
    background-image: url('../img/bg-picture.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: top 150px left 812px;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: self-start;
    gap: 30px;
    margin-left: 120px;
    margin-right: 120px;

}

main .content {
    padding-top: 80px;
    width: 785px;

}

aside {
    position: sticky;
    top: 80px;
    left: 120px;
    width: 385px;
}

aside ul {
    padding: 0px;
}

aside li {
    margin-top: 80px;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    list-style: none;
}

aside a {
    color: inherit;
    text-transform: uppercase;
    font-family: Francois One;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

#introduction, #core-components, #react-fundamentals, #handling-text-input {
    padding-top: 70px;
    margin-bottom: -35px;
}

h2 {
    font-family: "Francois One", serif;
    font-size: 36px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 0px;

    &::before {
        content: "";
        width: 100px;
        height: 8px;
        background-color: black;
        display: block;
        margin-bottom: 20px;
    }
}

.chap {
    font-family: 'Farro';
    vertical-align: top;
}

div>span {
    font-family: "Farro", serif;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 0px;
}

p {
    font-family: "PT Sans", serif;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 48px;
}

.under {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.bg {
    background-color: lightgray;
}