@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "_variables";
@import "_reset";


.bla {
    height: 100vh;
}

html {
    background-image: url("first-screen-image.png");
    background-size: 100vw 150vh;
    background-repeat: no-repeat;
}

.body {
    padding-top: 1.875rem;
}

.header {

    .header__content {
        height: 100%;
        width: 81.25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
}


.header--height {
    height: 5rem;
}

.header--blur {
    background: 
    linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)),
    linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%);
    backdrop-filter: blur(9px);
}

.logo {

    .logo__link {
        display: block;
        height: 100%;
        width: 100%;
    }

    .logo__img {
        
    }
}

.nav {

    .nav__list {
        display: flex;
        justify-content: center;
        gap: 1.875rem;
    }

    .nav__link {
        font-family: "Lato";
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.08em;
        color: $primary-color;
    }

    .nav__item--active {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: $button-color-default;
            height: 3px;
            width: 100%;
            top: 20px;
            left: 0px;
        }
    }
}

.hero {
    height: 100vh;

    .hero__title {
        font-family: $secondary-font;
        font-size: 44px;
        color: $primary-color;
        margin-bottom: 1.875rem;
    }

    .hero__span {
        font-family: $secondary-font;
        font-size: 44px;
        font-style: italic;
        line-height: 52px;
        color: $secondary-color;
    }

    .hero__text {
        font-family: $primary-font;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 3.125rem;
    }
}

.hero__content--position {
    width: 36%;
    padding-top: 9.375rem;
    padding-left: 9.375%;
}

.btn {
    font-family: $primary-font;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: $button-color-default;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        background-color: $button-color-default;
        width: 97%;
        height: 13px;
        top: 11px;
        left: 10px;
        opacity: 0.3;
        z-index: 0;
    }

    &:hover {
        color: $button-color-hover;

        &::after {
            background-color: $button-color-hover;
        }
    }
}


.info {
    display: flex;
    margin: auto;
    height: 100vh;
    width: 81.25vw;

    .info__img {
        background-image: url("info.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 48%;
        height: 41.875rem;
        margin-right: -170px;
    }

    .info__content {
        display: flex;
        background-color: #FFFFFF;
        opacity: 0.9;
        width: 65%;
        height: 36.25rem;
        padding-top: 2.8125rem;
        margin-top: 2.8125rem;
        box-sizing: border-box;
    }

    .info__aside {
        width: 52%;
    }

    .info__text {
        font-family: $primary-font;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 3.125rem;
    }
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 48%;

    .stats__item {
        position: relative;

        &:not(:last-child)::after {
            content: "";
            display: block;
            width: 100px;
            border: 1px solid $secondary-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -2.5rem;
        }
    }

    .stats__num {
        font-family: $secondary-font;
        font-size: 68px;
        line-height: 72px;
        text-align: center;

        &::before {
            content: "$";
            font-family: $secondary-font;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            color: #E4E4E4;
        }
    }

    .stats__desc {
        font-family: $primary-font;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        text-align: center;
    }
}

.benefits {
    margin: auto;
    height: 100vh;
    width: 81.25vw;

    .benefits__container {
        display: grid;
        column-gap: 1.875rem;
        row-gap: 3.75rem;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .benefits__item {
        border-top: 1px solid #E4E4E4;
    }
}

.item {

    .item__content {
        padding: 1.875rem 2.1875rem 0 2.1875rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    }

    .item__title {
        font-family: $secondary-font;
        font-size: 40px;
        line-height: 48px;
        color: $primary-color;
    }

    .item__text {
        font-family: $primary-font;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        color: $primary-color;
        opacity: 0.8;
    }

    .item__span {
        font-family: $secondary-font;
        font-style: italic;
        color: $secondary-color;
    }
}

.quote {
    height: 100vh;
    width: 81.25vw;
    margin: auto;

    .quote__container {
        background-image: url("/quote-background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .qoute__item {
        width: 50%;
        margin: auto;
        padding: 6.25rem;
        position: relative;
    }

    .quote__icon {
        position: absolute;
        top: 4.375rem;
        left: 2.25rem;
    }

    .quote__text {
        font-family: $primary-font;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 0.04em;
        font-style: italic;
        color: white;
        margin-bottom: 2.5rem;
    }

    .quote__author {
        font-family: $secondary-font;
        font-size: 20px;
        font-style: italic;
        line-height: 20px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
    }
}

.video {
    height: 100vh;
    width: 81.25vw;
    
    .video__container {

    }

    .video__tablet {
        width: 970px;
        height: 601px;
        background-image: url("/tablet.png");
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .video__video {
        height: 89.7%;
        width: 870px;
        margin: 0 auto;
    }

    .video__info {
        margin-top: 3.125rem;
    }

    .video__title {
        font-family: $secondary-font;
        font-size: 40px;
        line-height: 48px;
    }

    .video__span {
        color: $secondary-color;
        font-style: italic;  
    }

    .video__text {
        font-family: $primary-font;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        opacity: 0.8;
    }
}

.footer {
    display: flex;
    gap: 16rem;

    .footer__text {
        font-family: $primary-font;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        opacity: 0.6;
    }

    .footer__span {
        font-family: $primary-font;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.08em;
    }

    .footer__nav {
        display: flex;
        gap: 2rem;
    }

    .footer__nav-item {
        font-family: $primary-font;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.08em;
        color: $primary-color;
    }
}