.benefits {
    width: 81.25%;
    margin-inline: auto;

    &__container {
        display: grid;
        gap: 3.75rem 1.875rem;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        width: 100%;
    }

    &__item {
        border-top: 1px solid #E4E4E4;
    }
}