body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
}

.left, .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left {
    background-color: rgb(246, 253, 255);
    padding: 0px;
}

.right {
    background-color: rgb(255, 252, 234);
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

header {
    background-color: #a7cdff;
    color: white;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.container {
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    box-sizing: border-box;
}

h1, h2, p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    width: 100%;
}