$text-color: #000000;
$header-height: 10vh;

// Mixins

// <h1>
@mixin h1-styles {
    font-family: "Red Hat Display";
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.05em;
    text-align: left;
}

// <h3>
@mixin h3-styles {
    font-family: "Red Hat Display";
    font-size: 23px;
    font-weight: 400;
    line-height: 38.18px;
    letter-spacing: 0.1em;
    text-align: left;
}

// <h4>
@mixin h4-styles {
    font-family: Lato;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: left;
}

// <h5>
@mixin h5-styles {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.56px;
    letter-spacing: 0.05em;
    text-align: left;
}

// <h6>
@mixin h6-styles {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.56px;
    letter-spacing: 0.1em;
    text-align: left;
}

// <h7>
@mixin h7-styles {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 26.56px;
    letter-spacing: 0.1em;
    text-align: left;
}

// <h9>
@mixin h9-styles {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.92px;
    letter-spacing: 0.1em;
    text-align: left;
}

// Reset
body {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9 {
    margin: 0;
}

// Header
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $header-height;

    &>nav {
        
        &>label {
            display: none;
        }

        &>ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            list-style-type: none;
            margin: 0;
            padding: 0;

            &>li:not(:last-of-type) a {
                text-transform: uppercase;
                font-family: "Lato";
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                letter-spacing: 0.3em;
                text-align: center;
                position: relative;
                text-decoration: none;
                color: $text-color;

                &::after {
                    content: "";
                    width: 80%;
                    height: 2px;
                    background-color: $text-color;
                    position: absolute;
                    bottom: -3px;
                    left: 50%;
                    transform: translateX(-50%) scaleX(0);
                    transition: transform 0.3s ease;
                }
    
                &:hover::after {
                    transform: translateX(-50%) scaleX(1);
                }
            }
        }

        &>a:last-of-type {
            margin-left: 2rem;

            &::after {
                content: none;
            }
        }
    }

    &>img {
        height: 12px;
    }
}

#burger-toggle {
    display: none;
}

// Main

main {
    // Hero Section
    .hero {
        height: calc(100vh - $header-height);
        background-image: url(../images/first-screen.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 5rem;

        &>h1 {
            @include h1-styles();
            position: absolute;
            top: 25%;
            left: 10%;
        }
    }

    // Blog Section
    .blog {
        width: 70%;
        margin: auto;
        margin-bottom: 5rem;

        &>h1 {
            @include h1-styles();
            margin-bottom: 3rem;
        }

        &>.blog-item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            
            &>.blog-item-img img {
                max-width: 100%;
            }

            &>.blog-item-content {

                &>h6 {
                    @include h6-styles;
                    margin: 0;
                }

                &>p {
                    font-family: Red Hat Display;
                    font-size: 23px;
                    font-weight: 500;
                    line-height: 38.18px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }

                &>h5 {
                    @include h5-styles;
                }
            }
        }
    }

    .latest-posts {
        width: 70%;
        margin: auto;
        margin-bottom: 5rem;

        >p {
            font-family: "Red Hat Display";
            font-size: 28px;
            font-weight: 600;
            line-height: 46.48px;
            letter-spacing: 0.1em;
            text-align: left;
        }

        >.latest-posts-all-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;

            >.latest-posts-item {
                display: flex;
                flex-direction: column;
                
                & img {
                    max-width: 100%;
                }

                >.latest-posts-item-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @include h9-styles();
                    margin-top: 1.5rem;
                }

                >p {
                    font-family: "Red Hat Display";
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 36.52px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    margin: 1.5rem 0;
                }

                >h5 {
                    @include h5-styles();
                }
            }
        }
    }

    .most-popular {
        width: 70%;
        margin: auto;

        >p {
            font-family: "Red Hat Display";
            font-size: 28px;
            font-weight: 600;
            line-height: 46.48px;
            letter-spacing: 0.1em;
            text-align: left;
        }

        >.most-popular-all-items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            >.most-popular-item {
                >.most-popular-item-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @include h9-styles();
                    margin-top: 1.5rem;
                }
    
                >p {
                    font-family: "Red Hat Display";
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 36.52px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    margin: 1.5rem 0;
                }
    
                >h5 {
                    @include h5-styles();
                }

                >img {
                    max-width: 100%;
                }
            }
        }
        
        >button {
            width: 11.25rem;
            height: 3rem;
            margin: 3rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            background: #565656;
            @include h7-styles();
            color: #ffffff;
            margin-bottom: 5rem;

            &:hover {
                background: #323232;
            }
        }

    }

    .info {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14rem;
        margin-bottom: 5rem;

        >div h3 {
            @include h3-styles();
        }
        
        >div h4 {
            @include h4-styles();
        }
    }
}

footer {
    background: #F4F4F4;
    .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        .short-info {
            margin-top: 2rem;
            >h1 {
                @include h1-styles();
            }
    
            >h6 {
                @include h6-styles();
            }
        }
    
        .links {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
    
            >a {
                width: 3rem;
                height: 3rem;
                border: 1px solid #565656;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: #565656;

                    >svg path {
                        fill: white;
                    }
                }
            }
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;

        >h9 {
            @include h9-styles();
        }
    }
}

@media screen and (max-width: 1400px) {
    main .latest-posts .latest-posts-all-items {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1024px) {
    .blog .blog-item {
        flex-direction: column;
    }

    .blog .blog-item:last-of-type div:first-of-type {
        order: 2;
    }

    .blog .blog-item:last-of-type div:last-of-type {
        order: 1;
    }
    
    main .most-popular .most-popular-all-items {
        grid-template-columns: 1fr;
    }

    main .info {
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 768px) {
    footer .footer-content {
        flex-direction: column;
        gap: 2rem;

        &>.links {
            flex-direction: column;
        }
    }

    main .blog, main .latest-posts, main .most-popular, main .info {
        width: 100%;
    }

    header nav {
        & label {
            position: relative;
            height: 25px;
            width: 30px;
            display: block;

            &::after, &::before, & span {
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $text-color;
                transition: .3s;
            }

            &::before {
                content: "";
                top: 0;
            }

            &::after {
                content: "";
                bottom: 0;
            }

            & span {
                top: 11px;
            }
        }

        #burger-toggle:checked ~ label::after {
            transform: rotate(45deg);
            bottom: 10px;
        }

        #burger-toggle:checked ~ label::before {
            transform: rotate(-45deg);
            top: 12px;
        }

        #burger-toggle:checked ~ label span {
            transform: rotate(-45deg);
            top: 12px;
        }

        #burger-toggle:checked ~ ul {
            top: $header-height;
            bottom: 0;
            transition: .5s;
        }

        &>ul {
            position: fixed;
            left: 0;
            right: 0;
            background-color: #F4F4F4;
            padding-top: 100px;
            flex-direction: column;
            text-align: center;
            z-index: 1;
            top: -100vh;
            bottom: 100vh;

            &>li a {
                color: $text-color;
            }
        }
    }
}