@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ===== Colors ===== */
    --purple-dark: #392C72;
    --gray-dark: #4F4F4F;
    --gray-middle: #828282;
    --gray-light: #BDBDBD;
    --purple-light: #9E8CFC;
    --red: #EA5455;
    --yellow: #F2C94C;
    --green: #6FCF97;
    --blue-dark: #283046;
    --blue-darken: #161D31;
}

body {
    height: 100vh;
    background: rgb(236, 236, 236);
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    background: white;
}

.sidebar .text {
    color: var(--gray-dark);
    font-size: 18px;
    font-weight: 500;
}

.sidebar .icon {
    fill: var(--gray-dark);
}

.sidebar .image {
    display: block;
    width: 32px;
    height: 32px;
}

.sidebar li {
    height: 46px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar header {
    position: relative;
    padding: 30px 15px 40px 15px;
}

.sidebar .image-text img {
    width: 100%;
    height: 100%;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    gap: 7px;
}

.sidebar header .toggle {
    position: absolute;
    top: 46%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.sidebar li a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;
}

.sidebar .nav-link {
    width: 100%;
}

.sidebar .nav-link:hover {
    background: var(--purple-light);

    & .text {
        color: white;
    }

    & .icon {
        fill: white;
    }
}

.sidebar .menu-links {
    padding-top: 30px;
}

.sidebar .menu-links .title {
    text-transform: uppercase;
}

.sidebar :is(.nav-link, .title) {
    padding-left: 15px;
}