.video {
    width: 81.25vw;
    margin: auto;

    .video__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video__tablet {
        width: 970px;
        height: 601px;
        background-image: url("/styles/components/video/tablet.png");
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 90%;
            width: 90%;
            background-image: url("/styles/components/video/screensaver-video.png");
            background-size: contain;
            transform: translateX(-1rem);
        }
    }
    
    .video__video {
        height: 89.7%;
        width: 870px;
        margin: 0 auto;
        opacity: 0;
        transform: translateX(-1rem);
    }

    .video__info {
        margin-top: 3.125rem;
        width: 60%;
    }

    .video__title {
        font-family: $secondary-font;
        font-size: 40px;
        line-height: 48px;
    }

    .video__span {
        color: $secondary-color;
        font-style: italic;  
    }

    .video__text {
        font-family: $primary-font;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        opacity: 0.8;
    }
}