.nav {
    &__list {
        display: flex;
        justify-content: center;
        gap: 1.875rem;
    }

    &__link {
        font-family: "Lato";
        font-size: 0.875rem;
        line-height: 24px;
        letter-spacing: 0.08em;
        color: $primary-color;
    }

    &__item--active {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: $button-color-default;
            height: 3px;
            width: 100%;
            top: 20px;
            left: 0px;
        }
    }
}